#root {
  width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: rgb(240, 240, 255);
}

p {
  margin-bottom: 1em;
  padding-left: 1.5em;
  line-height: 1.4;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

@media (min-width: 1024px) {
  #root {
    width: 60vw;
    max-width: 1100px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    width: inherit;
  }
}

.card {
  background-color: var(--card-background-color);
  border-radius: 12px;
  padding: 1.5rem 2rem;
  border: 1px solid var(--border-color);
  transition: box-shadow 0.3s ease-in-out;
  height: 15rem;
  width: inherit;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(100, 108, 255, 0.3);
}

.ingredients {
  margin-bottom: 0.75rem;
  text-align: left;
}

.instructions.card {
  height: auto;
  width: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.form-group input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--input-background-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.3);
}

.form-group em {
  color: var(--error-color);
  font-size: 0.775rem;
  margin-top: 0.5rem;
  height: 1rem;
}
